* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Arvo", serif;
    font-weight: 400;
    font-style: normal;
}

/* Navbar */
.navbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    gap: 10px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.navbar__s1__title {
    color: rgb(167, 43, 250);
}

.navbar__s2 {
    padding: 10px;
    border: 1px solid black;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar__s2 input {
    border: none;
    width: 100%;
    font-size: 16px;
    background-color: transparent;
}

.navbar__s2 input:focus {
    outline: none;
    flex-wrap: wrap;
}

.navbar__s3 {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
}

.navbar__s4{
    padding: 10px;
}

/* My Learning Popup */
.mylearning{
    position: relative;
    cursor: pointer;
}

.mylearning__popup{
    position: absolute;
    background-color: white;
    width: 100px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    top: 150%;
    padding: 20px;
    right: 0;
    display: none;
}

.mylearning:hover .mylearning__popup{
    display: block;
}

/* Categories */
.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    border-bottom: solid 1px black;
}

.categories p {
    background-color: rgb(169, 12, 169);
    border-radius: 30px;
    color: white;
    padding: 10px;
    transition: 1s;
    border: 1px solid rgb(169, 12, 169);
}

.categories p:hover {
    transition: 1s;
    background-color: bisque;
    color: black;
    cursor: pointer;
    border: 1px solid rgb(169, 12, 169);
}

/* Sale image */
.sale-image {
    position: relative;
}

.sale-image img {
    width: 100%;
}

.sale-image__offer {
    width: 35%;
    border: solid black 2px;
    background-color: white;
    padding: 2%;
    position: absolute;
    top: 10%;
    left: 10%;
    animation-name: zoom;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes zoom {
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
    
}

/* Recommended */
.recommended {
    padding: 10px;
}

.recommended__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.course-card {
    flex-grow: 1;
    flex-basis: 20%;
    margin: 5px;
}

.course-card img {
    width: 100%;
    height: 50%;
    width: 100%;
}

/* Topics */
.topics {
    margin: 10px;
}

.topics p:hover {
    background-color: rgb(34, 31, 31);
    color: white;
}


.topics__container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.topics__container p {
    border: solid grey 1px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
}

/* Popular */
.popular {
    padding: 10px;
}

.popular__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

/* Footer */
.footer {
    padding: 30px;
    background-color: black;
    color: white;
}

.footer__one {
    display: flex;
    gap: 10px;
}

.footer__one p {
    margin: 15px;
}

.footer__two__s1 {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* Media Queries */
@media screen and (max-width:800px) {
    body{
        font-size: 10px;
    }
}
@media screen and (max-width:600px){
    /* Course card images */
    .course-card{
        flex-basis: 40%;
    }
    .navbar__s1__title{
        padding: 10px;
    }
    /* Categories */
    .categories{
        display: none;
    }
    /* Search bar & My Learning */
    .navbar__s2, .navbar__s3{
        display: none;
    }
    /* Menu Icon */
    .navbar__s4{
        display: block;
    }
}
